.p-2 {
    padding: 0.5rem/* 8px */;
}
.text-blue-800 {
    color: rgb(30 66 159 / 1);
}

.border-2 {
    border-width: 2px;
}

.w-full {
    width: 100%;
}
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.h-\[490px\] {
    height: 490px;
}

.w-40 {
    width: 10rem/* 160px */;
}

.flex-col {
    flex-direction: column;
}

.flex-col {
    flex-direction: column;
}

.h-full {
    height: 100%;
}

.p-8 {
    padding: 2rem/* 32px */;
}

.pr-16 {
    padding-right: 4rem/* 64px */;
}

.text-xl {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
}

.space-y-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.min-w-\[400px\] {
    min-width: 400px;
}

.space-y-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.font-bold {
    font-weight: 700;
}

.border-b-2 {
    border-bottom-width: 2px;
}

.border-dotted {
    border-style: dotted;
}

.border-blue-800 {
    border-color: rgb(30 66 159 / 1);
}

.justify-between {
    justify-content: space-between;
}

.min-h-full {
    min-height: 100%;
}

.h-full {
    height: 100%;
}

.p-4 {
    padding: 1rem/* 16px */;
}

.text-4xl {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
}

.font-bold {
    font-weight: 700;
}

.w-fit {
    width: fit-content;
}

.h-\[285px\] {
    height: 285px;
}

.text-base {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
}

.text-white {
    color: rgb(255 255 255 / 1);
}

.rounded-xl {
    border-radius: 0.75rem/* 12px */;
}

.rounded-r-none {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.min-h-\[400px\] {
    min-height: 400px;
}

.border-white {
    border-color: rgb(255 255 255 / 1);
}

.border-b-2 {
    border-bottom-width: 2px;
}